{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
    {% endif %}
    {% if site.twitter.username %}
    {% endif %}
    {% if site.facebook.username %}
    {% endif %}
    {% if site.author.github %}
    {% endif %}
    {% if site.author.bitbucket %}
    {% endif %}
  </ul>
</div>


<div class="page__footer-copyright">&copy; {{ site.time | date: '2025' }} {{ site.name | default: site.title }}. </div>

